
{% extends 'base.html' %} 
{% load custom_filters %} 
{% block style %} 
<style>
    .card-body img {
    max-width: 100%;
}
.home-user{
    text-decoration: none;
    color: white;
    margin-bottom: 0;
}
.pagination {
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.pagination a {
    color: wheat;
    font-size: 18px;
    font-weight: 400;
    word-spacing: 2px !important;
    text-decoration: none;
    margin-left: 5px;
}
</style>
{% endblock %} 
{% block content %} 

{% include 'nav.html' %}

<div class="create-post m-auto text-center w-25 clear-fix">
    <a href="{% url 'create_post' %}" class="btn btn-dark mt-3 w-100 ">Cerate New Post <i class="fa-solid fa-circle-plus ml-4"></i></a>
</div>

<br>
{% for i in page_obj %} 
<div class="card w-50 mx-auto bg-dark text-white">
    <div class="card-header">
         <a class="home-user" href="{% url 'profile' i.user.id  %}"><h5>@{{i.user.first_name}}&nbsp;{{i.user.last_name}}</h5></a>
        <p>{{i.create_at}}</p>
    </div>

    <div class="card-body">
        <img src="/{{i.image}}" class="d-flex mx-auto" alt="">
        <div class="card-title">
            <h3>{{i.title}}</h3> <hr>
        </div>
        <p>
            {{i.desc|range_filter|linebreaks}}<a href="{% url 'post_view' i.id %}" class="btn btn-sm btn-warning">read more</a>
        </p>
       
    </div>
    <div class="card-footer">

    </div>
</div>
<br>

{% endfor %} 

<hr>
<div class="pagination">
    <span class="step-links ">
        {% if page_obj.has_previous %}
            <a  href="?page=1" >&laquo; first</a>
            <a   href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a   href="?page={{ page_obj.next_page_number }}">next</a>
            <a   href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}